.generate-data-se-code(@attribute-name, @attribute-value, @attribute-name-type, @attribute-value-type) {
	[data-se~="@{attribute-name}(@{attribute-value})"] {

        // FONT FAMILY DATA TYPES
		.when-attribute-type-is(font-family, {
			font-family: @@attribute-value;
        });

        // FONT WEIGHT DATA TYPES
		.when-attribute-type-is(font-weight, {
			font-weight: @attribute-value;
        });

		// COLOR DATA TYPES
		.when-attribute-type-is(color, {
			// SET BACKGROUND COLOR
          	.when-attribute-name-is(bgc, {
				background-color: @@attribute-value;
				color: contrast(@@attribute-value);
          	});
          	// CHANGE BACKGROUND COLOR ON HOVER
          	.when-attribute-name-is(bgc--hover, {
				&:hover {
					background-color: @@attribute-value;
					color: contrast(@@attribute-value);
				}
			});
			// CHANGE BACKGROUND COLOR ON FOCUS
          	.when-attribute-name-is(bgc--focus, {
				&:focus {
					background-color: @@attribute-value;
					color: contrast(@@attribute-value);
				}
			});
			// CHANGE BACKGROUND COLOR ON PARENT ELEMENT HOVER
			// []:hover [data-se]
          	.when-attribute-name-is(bgc-parent--hover, {
			    transition: 0.2s;
			    *:hover > & {
			    	background-color: @@attribute-value;
			    	color: contrast(@@attribute-value);
			    }
			});
			// SET BORDER COLOR
			.when-attribute-name-is(bdc, {
				border-color: @@attribute-value;
			});
			// CHANGE BORDER COLOR ON HOVER
			.when-attribute-name-is(bdc--hover, {
			    &:hover {
			    	border-color: @@attribute-value;
			    }
			});
			// CHANGE BORDER COLOR ON FOCUS
			.when-attribute-name-is(bdc--focus, {
			    &:focus {
			    	border-color: @@attribute-value;
			    }
			});
			// SET COLOR
          	.when-attribute-name-is(c, {
				color: @@attribute-value;
			});
			// CHANGE COLOR ON HOVER
          	.when-attribute-name-is(c--hover, {
				&:hover {
					color: @@attribute-value;
				}
			});
			// CHANGE COLOR ON FOCUS
          	.when-attribute-name-is(c--focus, {
				&:focus {
					color: @@attribute-value;
				}
			});
			// CHANGE COLOR OF CHILDREN ON PARENT HOVER
			// [data-se]:hover > *
          	.when-attribute-name-is(c--hover-children, {
			    transition: 0.2s;
			    &:hover {
			    	> * {
			        	color: @@attribute-value;
			    	}
			    }
			});
			// CHANGE COLOR ON PARENT HOVER
			// []:hover > [data-se]
          	.when-attribute-name-is(c-parent--hover, {
			    transition: 0.2s;
			    *:hover > & {
			    	color: @@attribute-value;
			    }
			});
			// SET COLOR OF DECENDENT LINKS
			// [data-se] a
          	.when-attribute-name-is(c_inner-links, {
			    a {
			    	color: @@attribute-value;
			    }
			});
			// CHANGE COLOR OF HOVERED DECENDENT LINKS
			// [data-se] a:hover
          	.when-attribute-name-is(c_inner-links--hover, {
			    a {
			      	&:hover {
			        	color: @@attribute-value;
			      	}
			    }
			});
        });
	}
}
.when-attribute-type-is(@type; @detached-ruleset: {};){
	& when (@attribute-name-type = @type){
		& when (@attribute-value-type = @type){
			@detached-ruleset();
		}
	}
};
.when-attribute-name-is(@name; @detached-ruleset: {};) {
	& when (@attribute-name = @name){
        @detached-ruleset();
    }
}
.loop-attribute-names-list(@i--attribute-names: length(@data-se-attribute-names-list)) when (@i--attribute-names > 0) {
	.loop-attribute-names-list(@i--attribute-names - 1);
	@this-line-name-vars: extract(@data-se-attribute-names-list, @i--attribute-names);
	@this-name-type: extract(@this-line-name-vars, 1);
	@this-name: extract(@this-line-name-vars, 2);

    // Run loop of default values list
    .run-loop-of-attribute-values-list(@list-to-loop: @data-se-attribute-values-list);
    // Run loop of extended values list
    .run-loop-of-attribute-values-list(@list-to-loop: @extend-data-se-attribute-values-list);
}
.run-loop-of-attribute-values-list(@list-to-loop: @data-se-attribute-values-list;  @attribute-name: @this-name; @attribute-name-type: @this-name-type) {
    .loop-attribute-values-list(@i--attribute-values: length(@list-to-loop);) when (@i--attribute-values > 0) {
        .loop-attribute-values-list(@i--attribute-values - 1);
        @this-line-value-vars: extract(@list-to-loop, @i--attribute-values);
        @this-value-type: extract(@this-line-value-vars, 1);
        @this-value: extract(@this-line-value-vars, 2);

        @length-of-list: length(@list-to-loop);
		.generate-code-from-extended-values-variable-if-valid(@this-value-type, @this-value, @length-of-list);
    }
	.loop-attribute-values-list();
}
.generate-code-from-extended-values-variable-if-valid(@value-type, @value, @length-of-list) {
	@failure-state: ~"extract(@{value-type}, @{length-of-list})";
    & when not (@value = @failure-state) {
      // generate data selector CSS
      .generate-data-se-code(@this-name, @this-value, @this-name-type, @this-value-type);
    }
}

// Run loops over both lists and generate code
.loop-attribute-names-list();

@data-se-attribute-names-list:
	// type 		// name

    font-family 	font-family,

    font-weight 	font-weight,

	color 			bgc,
	color 			bgc--hover,
	color 			bgc--focus,
	color 			bgc-parent--hover,
  
	color 			bdc,
	color 			bdc--hover,
	color 			bdc--focus,
  
	color 			c,
	color 			c--hover,
	color 			c--focus,
	color 			c--hover-children,
	color 			c-parent--hover,
	color 			c_inner-links,
	color 			c_inner-links--hover;

@data-se-attribute-values-list: 
	// type 		// name

    font-family 	font1,
    font-family 	font2,

    font-weight 	lighter,
    font-weight 	normal,
    font-weight 	bold,
    font-weight 	bolder,

	color 			text-color,
	color 			clear,
	color 			black,
	color 			gray-darker,
	color 			gray-dark,
	color 			gray,
	color 			gray-light,
	color 			gray-lighter,
	color 			white,
	color 			color1,
	color 			color2,
	color 			color3,
	color 			color4,
	color 			color5,
	color 			color1-light,
	color 			color2-light,
	color 			color3-light,
	color 			color4-light,
	color 			color5-light,
	color 			color1-dark,
	color 			color2-dark,
	color 			color3-dark,
	color 			color4-dark,
	color 			color5-dark;

// Variable that can be called in src files to add new [data-se] attributes
@extend-data-se-attribute-values-list:'',;
